*.idea/
env
.ipynb_checkpoints
.pytest_cache
*cache*
*.egg-info

*/.coverage
*/.DS_Store

.devcontainer/
.scripts/
.vscode/

*/.token.json

/scripts

/build
/dist
/data/Test_nuclear_data

*/_build
*/_markdown
*/visualizations

Pipfile
Pipfile.lock
.coverage
.python-version

target_isotope.json